div.container-fluid
    div.row
        div.col-sm-3.col-md-2.sidebar        
            ul#MainMenu.nav.nav-sidebar
                li(class={active: currentUrl === '/'}): a(href="/")= "Overview"
                li(class={active: currentUrl === '/br-sum-current'}): a(href="/br-sum-current")= "Block Replicas Monitoring"
