extends ./base/layout.jade

block content
    h2.sub-header= "CMS - Block Replica Monitoring (sum)"
    include filters
    section#CMS_BR
        //form(action="/br-monitoring", method="post")
            //div.form-group
                //input(type="text", name="daterange")
                //select.form-control
                    //each node in nodes
                        //option= node
                //input.btn.btn-primary(type="submit")
        div.row.placeholders
            div#cms-br-1.row.placeholder
                div.progress
                    div.progress-bar.progress-bar-stripped.active(role="progressbar", aria-valuenow="100", aria-valuemin="0", aria-valuemax="100", style="width: 100%")
            div#cms-br-2.row.placeholder
                div.progress
                    div.progress-bar.progress-bar-stripped.active(role="progressbar", aria-valuenow="100", aria-valuemin="0", aria-valuemax="100", style="width: 100%")
