extends ./base/layout.jade

block content
    h2.sub-header= "Block Replicas Monitoring"
    div.container-fluid
        form#filters-combined
            include toggle-filters
            include advanced-filters
        div.row.placeholders
            div.col-md-7
                div.br-sum-bar.placeholder(chart-group= "0")
                span.br-sum-bar-progress.glyphicon.glyphicon-refresh.glyphicon-refresh-animate(chart-group= "0")
            div.col-md-5
                div.br-sum-pie.placeholder(chart-group= "0")
                span.br-sum-pie-progress.glyphicon.glyphicon-refresh.glyphicon-refresh-animate(chart-group= "0")
            div.col-md-7
                div.br-sum-bar.placeholder(chart-group= "1")
                span.br-sum-bar-progress.glyphicon.glyphicon-refresh.glyphicon-refresh-animate(chart-group= "1")
            div.col-md-5
                div.br-sum-pie.placeholder(chart-group= "1")
                span.br-sum-pie-progress.glyphicon.glyphicon-refresh.glyphicon-refresh-animate(chart-group= "1")
